@using Application.ViewModels;
@model GenericViewModel;

<h1>Generos</h1>


<!-- Filtro por género con botón -->
<div class="container my-4">
    <h1 class="text-center mb-4">Catálogo de Series</h1>
    @await Html.PartialAsync("Section", Model.Genders)

    <!-- Series -->
    @await Html.PartialAsync("Catalog", Model.Series)
</div>