@using Application.ViewModels;
@model List<SerieViewModel>;
@{
    ViewData["Title"] = "Catálogo de Series";
}

<h1>Catálogo de Series</h1>

<div class="row">
    @foreach (SerieViewModel serie in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@serie.ImagePath" class="card-img-top img-height" alt="@serie.Name">
            <div class="card-body">
                <h5 class="card-title">@serie.Name</h5>
                <p class="card-text">@serie.Description</p>
            </div>
        </div>
    }
</div>