@using ITLATV_.Core.Application.ViewModels.Series
@model SaveSerieViewModel
@{
    ViewData["Title"] = "Delete Serie";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4>Are you sure to delete serie: @Model.Name?</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Serie" asp-action="DeleteSerie">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancel</a>

                </form>

            </div>
        </div>
    </div>

</div>